<h1>Party Orders | current server: <%= current_employee.name %><%= button_to "Log Out", sessions_path, method: :delete %> </h1>


<%= form_for @order do |f| %>
  <%= f.collection_select(:food_id, Food.all, :id, :name) %>
  <%= f.collection_select(:party_id, Party.all, :id, :table_numb) %>
 <%= f.submit %>
<% end %>

 <%= button_to "parties", parties_path, method: :get %><%= button_to "go back to tables", parties_new_path, method: :get %>



<ul>
  <% @orders.each do |order| %>
    <li>
    Table <%= order.party.table_numb %> :
        <%= order.food.name %>
        - $<%= order.food.price %>
           <%= button_to "Remove", order_path(order), method: :delete%>

           <% if order.created_at.to_time > 10.minutes.ago  %>
            <div class="four column green"><%= order.created_at.to_time.strftime('%l:%M %p %Z')%></div>
            <% elsif order.created_at.to_time < 10.minutes.ago && order.created_at.to_time > 50.minutes.ago %>
            <div class="four column yellow"><%= order.created_at.to_time.strftime('%l:%M %p %Z')%></div>
            <% elsif order.created_at.to_time < 20.minutes.ago %>
            <div class="four column red"><%= order.created_at.to_time.strftime('%l:%M %p %Z')%></div>

    </li>
  <% end %>
</ul>
<% end %>
